<div class="col-md-6" align="center">
    <h1>Trial output by Gisdakis, Beynon and Marshall</h1>
    <p><font size="7"><b>Academic Behavioural Confidence</b></font></p>
</div>
<br>
<style type="text/css">
.position{text-align:center}
.position{font-size: 17px;}
.position{list-style-position: outside;}
.position{line-height:1.1;}
.position ul{
  display:inline-block;
  text-align:left;
}
/* .position ol{
  padding-left:50px;
} */

.position li {
    font-size: 25px;
    /* padding-left:50px; */
}
span {
    font-size: 17px;
    vertical-align: middle;
 }
.indent{
  text-align:center;
  font-size:17px;
  list-style-position:outside;
  line-height:1.0;
}
.indent ul{
  display:inline-block;
  text-align:left;
}
.indent li{
  font-size:25px;
  padding-left:50px;
}
.blank_row{
    height: 10px;
    background-color: #FFFFFF;
}
.my_table table{
  border: 1px solid black;
}
.my_table th{
  border: 1px solid black;
}
.my_table td{
  border: 1px solid black;
}
#the_table td{
	text-align: center; 
	vertical-align: middle;
}
</style>
<div class="position">
  <ul>
    <li><span>The 17 questions you filled in were intended to try and describe dimensions of Academic
      Behavioural Confidence (ABC) (related to the self-concept and self-efficacy of students)</span>
    </li>
    <li><span>The identified four dimensions of ABC, are: <br></span>
    </li>
  </ul>
</div>
<div class="indent"> 
  <ul>
    <li><span>Grades-Grd ("Confidence in the actual activity contributing directly to what a student is graded on, including coursework and exams")</span></li> 
    <li><span>Verbalising-Vrb ("Confidence in the ability to verbalise their knowledge during their learning activity")</span></li>
    <li><span>Attendance-Att ("Confidence in the willingness to appropriately attend events during their learning activity")</span></li> 
    <li><span>Studying-Std ("Confidence in undertaking the self-orginised activity necessary for their learning experience")</span></li>
  </ul>
</div>
<div class="position">
  <ul>
    <li><span>The results of your 17 responses are shown in the below constellation graph plot 
      (different number of the questions relate to the different dimensions)
      (each line of points joins the responses from different sets of questions).</span>
    </li>
  </ul>  
</div> 
<!-- <div align="center" style="width:100%;height:23em"> -->
  <table align="right" style="width:100%;">
    <tr>
      <!-- {% autoescape off %} -->
      <td align ="right" width="100%"><img src="data:image/png;base64, {{ svg5 }}" alt="somealt"/></td>
      <!-- {% endautoescape %} -->
      <td width="15%">
        <!-- <div class="my_table"> -->
          <table align="left" style="width:100%;" cellpadding="5" id="the_table">
            <tr>
              <td style="width:90%;"><font size="15px">{{Xfinal.0.0}}</font></td>
			  <td style="width:30%;"><font size="15px">-</font></td>
              <td style="width:100%;" align="left"><font size="15px">{{Xfinal.0.1}}</font></td>
            </tr>
            <tr>
              <td><font size="15px">{{Xfinal.1.0}}</font></td>
			  <td><font size="15px">-</font></td>
              <td align="left"><font size="15px">{{Xfinal.1.1}}</font></td>
            </tr>
            <tr>
              <td><font size="15px">{{Xfinal.2.0}}</font></td>
			  <td><font size="15px">-</font></td>
              <td align="left"><font size="15px">{{Xfinal.2.1}}</font></td>
            </tr>
            <tr>
              <td><font size="15px">{{Xfinal.3.0}}</font></td>
			  <td><font size="15px">-</font></td>
              <td align="left"><font size="15px">{{Xfinal.3.1}}</font></td>
            </tr>
            <tr class="blank_row">
            </tr>
            <tr>
              <td style="font-weight:bold"><font size="15px">ABC</font></td>
			  <td><font size="15px">-</font></td>
              <td style="font-weight:bold" align="left"><font size="15px">{{ABCX}}</font></td>
            </tr>
          </table>
        <!-- </div> -->
      </td>
    </tr>
  </table>  
<!-- </div> -->
<div class="position">
  <ul>
    <li><span>The base line of the constellation graph shows the index values of different confidence dimensions, 
      over the consistent domain 0.0 (low confidence) to 1.0 (high confidence).</span>
    </li>
    <li><span>Have a look at your results and think whether they are a fair reflection of your confidences in these regards.</span>
    </li>
    <li><span>You may want to talk to your personal tutor about these results - or ask your undergraduate office for where further advice could be sought.</span>
    </li>
  </ul>  
</div>
